<template>
    <v-app>
        <!--        estatico        -->
        <HeaderComponent process="welfare" subprocess="list"/>
        <!--        Contenido         -->
        <v-content>
            <v-container>
                <v-card>
                    <v-tabs
                            v-model="active"
                            color="cyan"
                            dark
                            slider-color="yellow"
                    >
                        <v-tab
                                :key="'activity'"
                                ripple
                        >
                            Actividad
                        </v-tab>
                        <v-tab-item
                        >
                            <v-card flat>
                                <v-card-text class="title">Actividad de financiación </v-card-text>
                                <v-container>
                                    <v-layout wrap justify-space-around >
                                        <v-flex xs12 md6>
                                            <div class="mb-2">
                                                <div class="subheading">Codigo</div>
                                                <div style="text-align: justify; color: #636363" >{{ data.id }}</div>
                                            </div>
                                            <div class="mb-2">
                                                <div class="subheading">Descripción</div>
                                                <div style="text-align: justify; color: #636363" >{{ data.description }}</div>
                                            </div>
                                        </v-flex>
                                        <v-spacer></v-spacer>
                                        <v-flex xs12 md5>
                                            <div class="mb-2">
                                                <div class="subheading">Tipo de actividad</div>
                                                <div style="text-align: justify; color: #636363">{{ data.type_activity }}</div>
                                            </div>
                                            <div class="mb-2">
                                                <div class="subheading">Periodo</div>
                                                <div style="text-align: justify; color: #636363">{{ data.period }}</div>
                                            </div>
                                            <div class="mb-2">
                                                <div class="subheading">Unidad organizacional</div>
                                                <div style="text-align: justify; color: #636363">{{ data.organizational_unit }}</div>
                                            </div>
                                            <v-layout row wrap>
                                                <v-flex xs6 md6>
                                                    <div>
                                                        <div class="font-weight-bold">Fecha de inicio</div>
                                                        <div style="color: #636363">{{ data.date_begin }}</div>
                                                    </div>
                                                </v-flex>
                                                <v-flex xs6 md6>
                                                    <div>
                                                        <div class="font-weight-bold">Fecha de fin</div>
                                                        <div style="color: #636363">{{ data.date_finish }}</div>
                                                    </div>
                                                </v-flex>
                                            </v-layout>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                            </v-card>
                        </v-tab-item>
                        <v-tab
                                :key="'source_financing'"
                                ripple
                        >
                            Fuentes de Financiación
                        </v-tab>
                        <v-tab-item
                        >
                            <v-card flat>
                                <v-card-text class="title">Fuentes de financiación</v-card-text>
                                <v-container>
                                    <v-layout>
                                        <v-flex>
                                            <v-data-table
                                                    :headers="headers_financing"
                                                    :items="data.source_financing"
                                                    class="elevation-1"
                                            >
                                                <template v-slot:items="props">
                                                    <td class="text-xs-left">{{ props.item.source }}</td>
                                                    <td class="text-xs-left">{{ props.item.value }}</td>
                                                    <td class="text-xs-left">{{ props.item.source_financing }}
                                                        <small v-if="props.item.country !== undefined">
                                                            ({{ props.item.country }})
                                                        </small>
                                                    </td>
                                                </template>
                                            </v-data-table>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                            </v-card>
                        </v-tab-item>
                        <v-tab
                                :key="'beneficiaries'"
                                ripple
                        >
                            Beneficiaries

                        </v-tab>
                        <v-tab-item
                        >
                            <v-card flat>
                                <v-card-text>Beneficiarios</v-card-text>
                                <v-container>
                                    <v-layout>
                                        <v-flex>
                                            <v-data-table
                                                    :headers="headers_beneficiaries"
                                                    :items="data.beneficiares"
                                                    class="elevation-1"
                                            >
                                                <template v-slot:items="props">
                                                    <td class="text-xs-left">{{ props.item.type_beneficiare }}</td>
                                                    <td class="text-xs-left">{{ props.item.count }}</td>
                                                </template>
                                            </v-data-table>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                            </v-card>
                        </v-tab-item>
                        <v-tab
                                :key="'human resources'"
                                ripple
                        >
                            Recurso humano

                        </v-tab>
                        <v-tab-item
                        >
                            <v-card flat>
                                <v-card-text>Estos son los recursos humanos</v-card-text>
                                <v-container>
                                    <v-layout>
                                        <v-flex>
                                            <v-data-table
                                                    :headers="headers_human_resources"
                                                    :items="data.human_resources"
                                                    class="elevation-1"
                                            >
                                                <template v-slot:items="props">
                                                    <td class="text-xs-left">{{ props.item.name }}</td>
                                                    <td class="text-xs-left">{{ props.item.type_document }} {{ props.item.document }}
                                                    <td class="text-xs-left">{{ props.item.hours }}</td>
                                                </template>
                                            </v-data-table>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                            </v-card>
                        </v-tab-item>
                    </v-tabs>
                </v-card>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import HeaderComponent from "../../components/header";
    import router from 'vue-router'
    export default {
        data (){
            return {
                id_activity:this.$route.params.id,
                active: "source_financing",
                data: {
                    id: this.$route.params.id,
                    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
                    type_activity: 'Actividad SST',
                    period: '2019A',
                    organizational_unit: 'Bienestar',
                    date_begin: new Date().toISOString().substr(0, 10),
                    date_finish: new Date().toISOString().substr(0, 10),
                    source_financing: [
                        {
                            source : 'Sena',
                            value: '1000000',
                            source_financing: 'National'
                        },
                        {
                            source : 'Internacional',
                            value: '1000000',
                            source_financing: 'Internacional',
                            country: 'Mexico'
                        }
                    ],
                    beneficiares: [
                        {
                            type_beneficiare: 'Estudiante',
                            count: 30
                        },
                        {
                            type_beneficiare: 'Docentes',
                            count: 10
                        },
                    ],
                    human_resources: [
                        {
                            name: 'Carlos Suescun',
                            type_document: 'CC',
                            document: '1001001001',
                            hours: 10
                        },
                        {
                            name: 'Diego Cortes',
                            type_document: 'CC',
                            document: '2000200020',
                            hours: 10
                        },
                        {
                            name: 'Viviana Espinoza',
                            type_document: 'CC',
                            document: '10090110100',
                            hours: 10
                        },
                    ]
                },
                headers_financing: [
                    { text: 'Entidad', value: 'source_financing'},
                    { text: 'Valor', value: 'value'},
                    { text: 'Nacional o internacional', value: 'source_financing'},
                ],
                headers_beneficiaries: [
                    { text: 'Tipo de beneficiario', value: 'type_beneficiary'},
                    { text: 'Cantidad', value: 'count'},
                ],
                headers_human_resources: [
                    { text: 'Nombre', value: 'name'},
                    { text: 'Documento', value: 'document'},
                    { text: 'Horas dedicadas', value: 'hours'},
                ],
            }
        },
        components: {HeaderComponent},
        created(){
            console.log()
        },
    }
</script>

<style scoped>

</style>