<template>
    <v-app>
        <!--        estatico        -->
        <HeaderComponent process="welfare" subprocess="list"/>
        <!--        Contenido         -->
        <v-content>
            <v-container>
                <v-card>
                    <v-data-table
                            :headers="headers"
                            :items="activities"
                            rows-per-page-text="Numero de actividades"
                            rows-per-page="10"


                    >
                        <template v-slot:items="props">
                            <td class="text-xs-left">{{ props.item.code }}</td>
                            <td class="text-xs-left">{{ props.item.type_activity }}</td>
                            <td class="text-xs-left">{{ props.item.period }}</td>
                            <td class="text-xs-left">{{ props.item.organizational_unit }}</td>
                            <td class="text-xs-left">{{ props.item.begin }}</td>
                            <td class="text-xs-left">{{ props.item.finish }}</td>
                            <td class="text-xs-left">
                                <v-btn color="primary" @click="go_to(props.item.detail)"> ver
                                    <v-icon small right>fas fa-eye</v-icon>
                                </v-btn>
                            </td>
                        </template>
                    </v-data-table>
                </v-card>
            </v-container>
        </v-content>
    </v-app>
</template>


<script>
    import HeaderComponent from "../../components/header";
    export default {
        name: "activities",
        components: {HeaderComponent},
        data(){
            return{
                headers: [
                    { text:'Codigo', value: 'code'},
                    { text:'Tipo de actividad', value: 'type_activity'},
                    { text:'Periodo activo', value: 'period'},
                    { text:'Unidad organizacional', value: 'organizational_unit'},
                    { text:'Fecha de inicio', value: 'begin'},
                    { text:'Fecha fin', value: 'finish'},
                    { text:'Acciones', value: 'wellness'},
                ],
                activities: [
                    {
                        code: '01',
                        type_activity: 'Futbol',
                        period: '2019A',
                        organizational_unit: 'Vicerrectoria',
                        begin: new Date().toISOString().substr(0, 10),
                        finish: new Date().toISOString().substr(0, 10),
                        detail: '/welfare/00021'
                    },
                    {
                        code: '02',
                        type_activity: 'Futbol',
                        period: '2019A',
                        organizational_unit: 'Vicerrectoria',
                        begin: new Date().toISOString().substr(0, 10),
                        finish: new Date().toISOString().substr(0, 10),
                        detail: '/welfare/00021'
                    },{
                        code: '03',
                        type_activity: 'Futbol',
                        period: '2019A',
                        organizational_unit: 'Bienestar',
                        begin: new Date().toISOString().substr(0, 10),
                        finish: new Date().toISOString().substr(0, 10),
                        detail: '/welfare/00021'
                    },
                    {
                        code: '04',
                        type_activity: 'Futbol',
                        period: '2019A',
                        organizational_unit: 'Derecho',
                        begin: new Date().toISOString().substr(0, 10),
                        finish: new Date().toISOString().substr(0, 10),
                        detail: '/welfare/00021'
                    },
                    {
                        code: '05',
                        type_activity: 'Futbol',
                        period: '2019A',
                        organizational_unit: 'Vicerrectoria',
                        begin: new Date().toISOString().substr(0, 10),
                        finish: new Date().toISOString().substr(0, 10),
                        detail: '/welfare/00021'
                    },
                    {
                        code: '06',
                        type_activity: 'Futbol',
                        period: '2019A',
                        organizational_unit: 'Ingeniería de sistemas',
                        begin: new Date().toISOString().substr(0, 10),
                        finish: new Date().toISOString().substr(0, 10),
                        detail: '/welfare/00021'
                    },
                    {
                        code: '07',
                        type_activity: 'Futbol',
                        period: '2019A',
                        organizational_unit: 'Vicerrectoria',
                        begin: new Date().toISOString().substr(0, 10),
                        finish: new Date().toISOString().substr(0, 10),
                        detail: '/welfare/00021'
                    },

                ]
            }
        },
        methods: {
            go_to(url) {
                window.location.href=url;
            }
        }
    }
</script>

<style scoped>

</style>