<template>
    <v-app>
        <!--        estatico        -->
        <HeaderComponent process="welfare" subprocess="new"/>
        <!--        Contenido         -->
        <v-content>
            <v-container>
                <v-stepper v-model="e6" vertical>
                    <v-stepper-step :complete="e6 > 1" step="1">
                        Datos de actividad de bienestar
                        <small>Complete el formulario y presione continuar</small>
                    </v-stepper-step>
                    <v-stepper-content step="1">
                        <v-card color="" class="mb-5" >
                            <v-container>
                                <v-layout>
                                    <v-flex xs12 md8>
                                        <v-form>
                                            <v-text-field
                                                    :counter="10"
                                                    label="Código de la actividad"
                                                    required
                                                    focus
                                            ></v-text-field>
                                            <v-textarea
                                                    label="Descripción"
                                                    rows="4"
                                                    :counter="200"

                                            >
                                            </v-textarea>
                                            <v-combobox
                                                    :items="['Elemento 1', 'Elemento 2', 'elemento3']"
                                                    label="Seleccione el tipo de actividad">
                                            </v-combobox>
                                            <v-combobox
                                                    :items="['Elemento 1', 'Elemento 2', 'elemento3']"
                                                    label="Seleccione el año activo ">
                                            </v-combobox>
                                            <v-combobox
                                                    :items="['Elemento 1', 'Elemento 2', 'elemento3']"
                                                    label="Seleccione el semestre activo ">
                                            </v-combobox>
                                            <v-combobox
                                                    :items="['Elemento 1', 'Elemento 2', 'elemento3']"
                                                    label="Seleccione la unidad organizacional">
                                            </v-combobox>
                                            <v-layout justify-space-around>
                                                <v-flex xs12 sm6 md5>
                                                    <v-dialog
                                                            ref="dialog"
                                                            v-model="modal1"
                                                            :return-value.sync="date1"
                                                            persistent
                                                            lazy
                                                            full-width
                                                            width="290px"
                                                    >
                                                        <template v-slot:activator="{ on }">
                                                            <v-text-field
                                                                    v-model="date1"
                                                                    label="Fecha fin"
                                                                    prepend-icon="event"
                                                                    readonly
                                                                    v-on="on"
                                                            ></v-text-field>
                                                        </template>
                                                        <v-date-picker v-model="date1" scrollable>
                                                            <v-spacer></v-spacer>
                                                            <v-btn flat color="primary" @click="modal1 = false">Cancel</v-btn>
                                                            <v-btn flat color="primary" @click="$refs.dialog.save(date1)">OK</v-btn>
                                                        </v-date-picker>
                                                    </v-dialog>
                                                </v-flex>
                                                <v-flex xs12 sm6 md5>
                                                    <v-dialog
                                                            ref="dialog"
                                                            v-model="modal2"
                                                            :return-value.sync="date2"
                                                            persistent
                                                            lazy
                                                            full-width
                                                            width="290px"
                                                    >
                                                        <template v-slot:activator="{ on }">
                                                            <v-text-field
                                                                    v-model="date2"
                                                                    label="Fecha fin"
                                                                    prepend-icon="event"
                                                                    readonly
                                                                    v-on="on"
                                                            ></v-text-field>
                                                        </template>
                                                        <v-date-picker v-model="date2" scrollable>
                                                            <v-spacer></v-spacer>
                                                            <v-btn flat color="primary" @click="modal2 = false">Cancel</v-btn>
                                                            <v-btn flat color="primary" @click="$refs.dialog.save(date2)">OK</v-btn>
                                                        </v-date-picker>
                                                    </v-dialog>
                                                </v-flex>
                                            </v-layout>
                                        </v-form>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-card>
                        <v-btn color="primary" @click="e6 = 2">Continue</v-btn>
                    </v-stepper-content>

                    <v-stepper-step :complete="e6 > 2" step="2">
                        Fuentes de financiación
                        <small>Complete el formulario y presione continuar</small>
                    </v-stepper-step>

                    <v-stepper-content step="2">
                        <v-card color="" class="mb-5" >
                            <v-container>
                                <v-layout>
                                    <v-flex xs12 md12>
                                        <v-form>
                                            <v-layout justify-space-around>
                                                <v-flex xs12 md5 class="elevation-1">
                                                    <v-container>
                                                        <div class="title">Nacional</div>
                                                        <br>
                                                        <v-combobox
                                                                :items="['Elemento 1', 'Elemento 2', 'elemento3']"
                                                                label="Seleccione la fuente nacional">
                                                        </v-combobox>
                                                        <v-text-field
                                                                :counter="10"
                                                                label="Valor de financiación"
                                                                required
                                                                focus
                                                        ></v-text-field>
                                                        <v-btn> Agregar </v-btn>
                                                    </v-container>
                                                </v-flex>
                                                <v-flex xs12 md5 class="elevation-1">
                                                    <v-container>
                                                        <div class="title">Internacional</div>
                                                        <v-combobox
                                                                :items="['Elemento 1', 'Elemento 2', 'elemento3']"
                                                                label="Seleccione la fuente internacional">
                                                        </v-combobox>
                                                        <v-combobox
                                                                :items="['Elemento 1', 'Elemento 2', 'elemento3']"
                                                                label="Seleccione el pais de la fuente">
                                                        </v-combobox>
                                                        <v-text-field
                                                                :counter="10"
                                                                label="Nombre de la fuente internacional"
                                                                required
                                                                focus
                                                        ></v-text-field>
                                                        <v-text-field
                                                                :counter="10"
                                                                label="Valor de financiación"
                                                                required
                                                                focus
                                                        ></v-text-field>
                                                        <v-btn>Agregar</v-btn>
                                                    </v-container>
                                                </v-flex>

                                            </v-layout>
                                            <br>

                                            <v-data-table
                                                    :headers="headers_financing"
                                                    :items="financing"
                                                    class="elevation-1"
                                            >
                                                <template v-slot:items="props">
                                                    <td class="text-xs-left">{{ props.item.sourceFinancing }}</td>
                                                    <td class="text-xs-left">{{ props.item.value }}</td>
                                                    <td class="text-xs-left">
                                                        <v-btn color="primary"> Editar
                                                            <v-icon small right>fas fa-edit</v-icon>
                                                        </v-btn>
                                                        <v-btn>Quitar
                                                            <v-icon small right>fas fa-trash </v-icon>
                                                        </v-btn>
                                                    </td>
                                                </template>
                                            </v-data-table>
                                        </v-form>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-card>
                        <v-btn color="primary" @click="e6 = 3">Continue</v-btn>
                        <v-btn flat @click="e6 = e6-1">Paso anterior</v-btn>
                    </v-stepper-content>

                    <v-stepper-step :complete="e6 > 3" step="3">
                        Ingrese los beneficiarios
                        <small>Complete el formulario y presione continuar</small>
                    </v-stepper-step>

                    <v-stepper-content step="3">
                        <v-card color="" class="mb-5" >
                            <v-container>
                                <v-layout>
                                    <v-flex xs12 md12>
                                        <v-form>
                                            <v-layout justify-space-around>
                                                <v-flex xs12 md10 class="elevation-1">
                                                    <v-container>
                                                        <div class="title">Nacional</div>
                                                        <br>
                                                        <v-combobox
                                                                :items="['Estudiante', 'Docente', 'Graduado']"
                                                                label="Seleccione el tipo de beneficiario">
                                                        </v-combobox>
                                                        <v-text-field
                                                                :counter="10"
                                                                label="Cantidad de beneficiados"
                                                                required
                                                                focus
                                                        ></v-text-field>
                                                        <v-btn> Agregar </v-btn>
                                                    </v-container>
                                                </v-flex>
                                            </v-layout>
                                            <br>

                                            <v-data-table
                                                    :headers="headers_beneficiaries"
                                                    :items="beneficiares"
                                                    class="elevation-1"
                                            >
                                                <template v-slot:items="props">
                                                    <td class="text-xs-left">{{ props.item.type_beneficiare }}</td>
                                                    <td class="text-xs-left">{{ props.item.count }}</td>
                                                    <td class="text-xs-left">
                                                        <v-btn color="primary"> Editar
                                                            <v-icon small right>fas fa-edit</v-icon>
                                                        </v-btn>
                                                        <v-btn>Quitar
                                                            <v-icon small right>fas fa-trash </v-icon>
                                                        </v-btn>
                                                    </td>
                                                </template>
                                            </v-data-table>
                                        </v-form>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-card>
                        <v-btn color="primary" @click="e6 = 4">Continue</v-btn>
                        <v-btn flat @click="e6 = e6-1">Paso anterior</v-btn>
                    </v-stepper-content>

                    <v-stepper-step step="4">
                        Ingrese el recurso humano
                        <small>Complete el formulario y presione guardar</small>
                    </v-stepper-step>
                    <v-stepper-content step="4">
                        <v-card color="" class="mb-5" >
                            <v-container>
                                <v-layout>
                                    <v-flex xs12 md12>
                                        <v-form>
                                            <v-layout justify-space-around>
                                                <v-flex xs12 md10 class="elevation-1">
                                                    <v-container>
                                                        <div class="title">Nacional</div>
                                                        <br>
                                                        <v-combobox
                                                                :items="['CC', 'CE', 'TI']"
                                                                label="Seleccione el tipo de documento">
                                                        </v-combobox>
                                                        <v-text-field
                                                                :counter="10"
                                                                label="El numero del documento"
                                                                required
                                                                focus
                                                        ></v-text-field>
                                                        <v-text-field
                                                                :counter="10"
                                                                label="Cantidad de horas dedicadas a la actividad"
                                                                required
                                                                focus
                                                        ></v-text-field>
                                                        <v-btn> Agregar </v-btn>
                                                    </v-container>
                                                </v-flex>
                                            </v-layout>
                                            <br>

                                            <v-data-table
                                                    :headers="headers_human_resources"
                                                    :items="human_resources"
                                                    class="elevation-1"
                                            >
                                                <template v-slot:items="props">
                                                    <td class="text-xs-left">{{ props.item.name }}</td>
                                                    <td class="text-xs-left">{{ props.item.hours }}</td>
                                                    <td class="text-xs-left">
                                                        <v-btn color="primary"> Editar
                                                            <v-icon small right>fas fa-edit</v-icon>
                                                        </v-btn>
                                                        <v-btn>Quitar
                                                            <v-icon small right>fas fa-trash </v-icon>
                                                        </v-btn>
                                                    </td>
                                                </template>
                                            </v-data-table>
                                        </v-form>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-card>
                        <v-btn color="primary" >Guardar</v-btn>
                        <v-btn flat @click="e6 = e6-1">Paso anterior</v-btn>
                    </v-stepper-content>
                </v-stepper>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import HeaderComponent from "../../components/header";
    export default {
        name: "new_activity",
        components: {HeaderComponent},
        data () {
            return {
                e6: 0,
                date1: new Date().toISOString().substr(0, 10),
                date2: new Date().toISOString().substr(0, 10),
                menu: false,
                modal1: false,
                modal2: false,
                soruceNational: true,
                headers_financing: [
                    {
                        text: 'Fuente',
                        value: 'source'
                    },
                    { text: 'Valor', value: 'value' },
                    { text: 'Acciones', value: 'actions' },
                ],
                financing: [
                    {
                        sourceFinancing: 'Cualquier empresa',
                        value: '1000000',
                    }
                ],
                headers_beneficiaries:[
                    { text: 'tipo de beneficiario', value: 'type_beneficiarie' },
                    { text: 'Cantidad', value: 'count' },
                    { text: 'Acciones', value: 'actions' },
                ],
                beneficiares: [
                    { type_beneficiare: 'Docentes', count: 56 },
                    { type_beneficiare: 'Estudiantes', count: 10 },
                ],
                headers_human_resources: [
                    { text: 'Nombre', value: 'name' },
                    { text: 'Cantidad de horas', value: 'hours' },
                    { text: 'Acciones', value: 'actions' },
                ],
                human_resources: [
                    { name: 'Carlos Suescun', hours: '10' },
                    { name: 'Diego Cortes', hours: '3' },
                ]
            }
        }
    }
</script>

<style scoped>

</style>