<template>
    <div>
        <v-form
                ref="form"
                v-model="valid"
                lazy-validation>
            <v-card>
                <v-toolbar cards flat>
                    <v-card-title class="title font-weight-regular">{{formTitle}}</v-card-title>
                </v-toolbar>
                <v-card-text>
                    <v-container grid-list-md style="padding-bottom: 0">
                        <v-layout wrap>
                            <v-flex xs6>
                                <v-text-field
                                        v-model="item.code"
                                        :rules="[v => !!v || 'Este campo no puede estar en blanco.']"
                                        :error-messages="errors.code"
                                        label="Código">
                                </v-text-field>
                            </v-flex>
                            <v-flex xs6>
                                <v-text-field
                                        v-model="item.start_year"
                                        :rules="[v=> !isNaN(v) && v <= 3000 && v >= 2000  || 'Debe ser un año válido']"
                                        :error-messages="errors.start_year"
                                        label="Año de inicio">
                                </v-text-field>
                            </v-flex>
                            <v-flex xs6>
                                <v-radio-group
                                        label="Semestre de inicio:"
                                        :rules="[v => !!v || 'Este campo no puede estar en blanco.']"
                                        :error-messages="errors.start_semester"
                                        v-model="item.start_semester" row>
                                    <v-radio label="1" :value="1"></v-radio>
                                    <v-radio label="2" :value="2"></v-radio>
                                </v-radio-group>
                            </v-flex>
                            <v-flex xs6>
                                <v-select
                                        :items="extensionCourseTypes"
                                        label="Tipo de curso"
                                        item-text="name"
                                        item-value="value"
                                        :error-messages="errors.extension_course_type"
                                        v-model="item.extension_course_type">
                                </v-select>
                            </v-flex>
                            <v-flex xs6 md2>
                                <v-text-field
                                        v-model="item.hours"
                                        :rules="[v=> !isNaN(v) || 'Debe ser un número']"
                                        :error-messages="errors.hours"
                                        label="Horas">
                                </v-text-field>
                            </v-flex>
                            <v-flex xs6 md5>
                                <v-menu
                                        v-model="startDatePicker"
                                        :close-on-content-click="false"
                                        :nudge-right="40"
                                        lazy
                                        transition="scale-transition"
                                        offset-y
                                        full-width
                                        min-width="290px">
                                    <template v-slot:activator="{ on }">
                                        <v-text-field
                                                v-model="item.start_date_"
                                                label="Fecha de inicio"
                                                prepend-icon="event"
                                                readonly
                                                :error-messages="errors.start_date"
                                                v-on="on">
                                        </v-text-field>
                                    </template>
                                    <v-date-picker
                                            v-model="item.start_date_"
                                            @input="startDatePicker = false; item.start_date = parseDate(item.start_date_)">
                                    </v-date-picker>
                                </v-menu>
                            </v-flex>
                            <v-flex xs6 md5>
                                <v-menu
                                        v-model="endDatePicker"
                                        :close-on-content-click="false"
                                        :nudge-right="40"
                                        lazy
                                        transition="scale-transition"
                                        offset-y
                                        full-width
                                        min-width="290px">
                                    <template v-slot:activator="{ on }">
                                        <v-text-field
                                                v-model="item.end_date_"
                                                label="Fecha de inicio"
                                                prepend-icon="event"
                                                readonly
                                                :error-messages="errors.end_date"
                                                v-on="on">
                                        </v-text-field>
                                    </template>
                                    <v-date-picker
                                            v-model="item.end_date_"
                                            @input="endDatePicker = false; item.end_date = parseDate(item.end_date_)">
                                    </v-date-picker>
                                </v-menu>
                            </v-flex>
                            <v-flex xs6>
                                <v-select
                                        :items="extensionCourseCharTypes"
                                        label="Carácter del curso"
                                        item-text="name"
                                        item-value="value"
                                        :error-messages="errors.extension_course_char"
                                        v-model="item.extension_course_char">
                                </v-select>
                            </v-flex>
                            <v-flex xs6>
                                <v-text-field
                                        v-model="item.course_value"
                                        :rules="[
                                        v => !!v || 'Este campo no puede estar en blanco.',
                                        v=> !isNaN(v) || 'Debe ser número'
                                    ]"
                                        prefix="COP$"
                                        label="Valor"
                                        :error-messages="errors.course_value">
                                </v-text-field>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-container grid-list-md style="padding-top: 0">
                        <v-layout wrap>
                            <v-spacer></v-spacer>
                            <v-btn @click="$emit('close')"
                                   :loading="saving"
                                   color="default">
                                <v-icon small>close</v-icon>
                                <v-spacer/>
                                Salir
                            </v-btn>
                            <v-btn @click="save"
                                   :loading="saving"
                                   color="success">
                                <v-icon small>save</v-icon>
                                <v-spacer/>
                                {{editing?'Guardar':'Crear'}}
                            </v-btn>
                        </v-layout>
                    </v-container>
                </v-card-actions>
            </v-card>
        </v-form>
    </div>
</template>

<script>
    const api = 'http://127.0.0.1:8000/extension/';
    const tableName = 'continuing-education/';

    export default {
        data: () => ({
            formTitle: 'Nuevo evento cultural',
            valid: false,
            item: {},
            errors: {},
            extensionCourseTypes: [
                {name: 'Tipo 1', value: 1},
                {name: 'Tipo 2', value: 2},
            ],
            extensionCourseCharTypes: [
                {name: 'Caracter 1', value: 1},
                {name: 'Caracter 2', value: 2},
            ],
            startDatePicker: false,
            endDatePicker: false,
            saving: false,
            editing: false,
        }),
        methods: {
            reset () {
                this.$refs.form.reset()
            },
            resetValidation () {
                this.$refs.form.resetValidation()
            },
            parseDate(dateString){
                if (dateString)
                    return dateString+'T00:00:00.000000Z';
            },
            save(){
                if (!this.$refs.form.validate()) {
                    return false;
                }
                this.saving=true;

                let method = 'post';
                let url =  api+tableName;
                if(this.editing == true){
                    method = 'put';
                    url = `${url}${this.item.id}/`;
                }
                this.$http({
                    method: method,
                    url: url,
                    data: this.item
                })
                    .then(response => {
                        if(this.editing){
                            if(response.status == 200){
                                this.$emit('edited');
                            }
                        }
                        else{
                            if(response.status == 201){
                                this.$emit('created');
                            }
                        }
                    })
                    .catch(error => {
                        if(error.response.status == 400){
                            this.errors = error.response.data;
                        }
                    })
                    .finally(() => {
                        this.saving=false;
                    });
            },
            prepareCreate(item){
                this.resetValidation();
                this.item = item;
                this.editing = false;
            },
            prepareUpdate(item){
                this.resetValidation();
                this.item = item;
                this.item.start_date_ =  this.item.start_date?this.item.start_date.substring(0,10):null;
                this.item.end_date_ =  this.item.end_date?this.item.end_date.substring(0,10):null;
                this.editing = true;
            },
        }
    }
</script>