<template>
    <div>
        <v-navigation-drawer
                v-model="drawer"
                :clipped="$vuetify.breakpoint.lgAndUp"
                fixed
                app
                width="250px">
            <v-list dense>
                <template v-for="item in items">
                    <v-layout
                            v-if="item.heading"
                            :key="item.heading"
                            row
                            align-center
                    >
                        <v-flex xs6>
                            <v-subheader v-if="item.heading">
                                {{ item.heading }}
                            </v-subheader>
                        </v-flex>
                        <v-flex xs6 class="text-xs-center">
                            <a href="#!" class="body-2 black--text">EDIT</a>
                        </v-flex>
                    </v-layout>
                    <v-list-group
                            v-else-if="item.children"
                            :key="item.text"
                            v-model="item.model"
                            :prepend-icon="item.model ? item.icon : item['icon-alt']"
                            append-icon=""

                    >
                        <template v-slot:activator>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <v-list-tile-title class="font-weight-bold">
                                        {{ item.text }}
                                    </v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                        </template>
                        <v-list-tile
                                :value="process===item.name && subprocess===child.name"
                                v-for="(child, i) in item.children"
                                :key="i"
                                @click="go_to(child.to)"
                        >
                            <v-list-tile-action v-if="child.icon">
                                <v-icon small>{{ child.icon }}</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title class="font-weight-light">
                                    {{ child.text }}
                                </v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </v-list-group>
                    <v-list-tile :value="process===item.name"
                                 v-else :key="item.text" @click="go_to(item.to)">
                        <v-list-tile-action>
                            <v-icon small>{{ item.icon }}</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title class="font-weight-bold">
                                {{ item.text }}
                            </v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </template>
            </v-list>
        </v-navigation-drawer>
        <v-toolbar
                :clipped-left="$vuetify.breakpoint.lgAndUp"
                height="50px"
                app
                fixed>
            <v-toolbar-title  class="">
                <v-layout align-center>
                    <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
                    <span class="hidden-sm-and-down display-1 font-weight-thin">Siga Global</span>
                    &nbsp;
                    <v-divider vertical/>
                    &nbsp;
                    <img
                            src="../assets/img/logo.png"
                            height="40px">
                </v-layout>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn icon>
                <v-icon>notifications</v-icon>
            </v-btn>
        </v-toolbar>
    </div>
</template>

<script>
    export default {
        name: "HeaderComponent",
        data: () => ({
            dialog: false,
            drawer: null,
            items: [
                {name:'profile', icon: 'person', text: 'Perfil', class: 'denis', to: '/profile'},
                {
                    icon: 'keyboard_arrow_up',
                    'icon-alt': 'keyboard_arrow_down',
                    text: 'Extensión',
                    name:'extension',
                    model: false,
                    children: [
                        {icon: 'theaters', text: 'Evento cultural', name:'cultural_event', to: '/extension/cultural_event/cultural_event',},
                    ]
                },
                {
                    icon: 'keyboard_arrow_up',
                    'icon-alt': 'keyboard_arrow_down',
                    text: 'Investigación',
                    name: 'investigation',
                    model: false,
                    children: [
                        {icon: 'add', text: 'Agregar', name:'new', to: '/investigation/add',},
                        {icon: 'fas fa-clipboard-list', text: 'Listar', name:'list', to: '/investigation/list',}
                    ]
                },
                {
                    icon: 'keyboard_arrow_up',
                    'icon-alt': 'keyboard_arrow_down',
                    text: 'Bienestar',
                    name: 'welfare',
                    model: false,
                    children: [
                        {icon: 'add', text: 'Agregar', name:'new', to: '/welfare/new_activity',},
                        {icon: 'fas fa-clipboard-list', text: 'Listar', name:'list', to: '/welfare/activities',}
                    ]
                },
                {name:'logout', icon: 'fas fa-power-off', text: 'Cerrar Sesión', class: 'denis', to: '/'},
            ]
        }),
        props: {
            source: String,
            'subprocess': '',
            'process': '',
        }, created() {
            var pro=this.process;
            this.items.forEach(function(item){
                if(item.name===pro){
                    item.model=true;
                }
            });
        },
        methods: {
            go_to(url) {
                window.location.href=url;
            }
        }
    }
</script>

<style scoped>

</style>