<template>
    <v-app>
        <v-content>
            <v-container fluid align-center>
                <v-layout align-center justify-center>
                    <v-flex xs12 sm8 md4>
                        <v-container align-center class="text-lg-center">
                            <img src="../assets/img/logo.png" alt="" width="90%">
                            <br>
                        </v-container>
                    </v-flex>
                </v-layout>

                <v-layout align-center justify-center>
                    <v-flex xs12 sm3 md4>

                        <v-card class="elevation-12">
                            <v-card-text>
                                <div class="title text-lg-center">Plataforma "Sin Nombre"</div>
                                <br>
                                <v-form>
                                    <v-text-field prepend-icon="person" name="login" label="Usuario"
                                                  type="text"></v-text-field>
                                    <v-text-field id="password" prepend-icon="lock" name="password" label="Contraseña"
                                                  type="password"></v-text-field>
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="primary" to="/profile">Ingresar</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    export default {
        name: "login"
    }
</script>

<style scoped>

</style>