<template>
    <v-app>
        <!--        estatico        -->
        <HeaderComponent process="welfare" subprocess="list"/>
        <!--        Contenido         -->
        <v-content>
            <v-container style="padding-top: 0">
                <v-layout row>
                    <v-breadcrumbs :items="breadcrumbsItems" divider=">"></v-breadcrumbs>
                </v-layout>
                <v-layout row align-center>
                    <h2>Eventos culturales</h2>
                    <v-spacer/>
                    <v-btn small
                           style="vertical-align: bottom"
                           @click="prepareCreate"
                           color="primary">
                        <v-icon small>add_circle</v-icon>
                        <v-spacer/>
                        Nuevo
                    </v-btn>
                </v-layout>
                <v-card>
                    <v-data-table
                            :headers="headers"
                            :items="continuingEducationItems"
                            :loading="loadingItems"
                            rows-per-page-text="Educación continua"
                            rows-per-page="10">
                        <v-progress-linear v-slot:progress color="blue" indeterminate></v-progress-linear>
                        <template v-slot:items="props">
                            <td class="text-xs-left">{{ props.item.code }}</td>
                            <td class="text-xs-left">{{ props.item.name }}</td>
                            <td class="text-xs-left">{{ props.item.description}}</td>
                            <td class="text-xs-left">{{ props.item.start_year }}</td>
                            <td class="text-xs-left">{{ props.item.start_semester }}</td>
                            <td class="text-xs-left text-capitalize">{{ displayDate(props.item.start_date) }}</td>
                            <td class="text-xs-left text-capitalize">{{ displayDate(props.item.end_date) }}</td>
                            <td class="text-xs-left">
                                <v-icon
                                        color="primary"
                                        small
                                        @click="prepareUpdate(props.item)"
                                        class="mr-2">
                                    edit
                                </v-icon>
                                <v-icon
                                        color="primary"
                                        @click="deleteItem(props.item)"
                                        small>
                                    delete
                                </v-icon>
                            </td>
                        </template>
                    </v-data-table>
                </v-card>
            </v-container>
            <v-dialog v-model="basicForm" max-width="800px">
                <BasicForm
                        ref="basicForm"
                        @close="basicForm = false"
                        @created="postCreate"
                        @edited="postEdit"/>
            </v-dialog>

            <v-snackbar
                    v-model="snackbar.show"
                    :color="snackbar.color">
                {{snackbar.text}}
                <v-btn
                        dark
                        flat
                        @click="snackbar.show = false">
                    Cerrar
                </v-btn>
            </v-snackbar>
        </v-content>
    </v-app>
</template>


<script>
    import HeaderComponent from "../../../components/header";
    import BasicForm from "../../../components/extension/cultural_event/BasicForm";
    import axios from 'axios'
    import moment from 'moment'
    const api = 'http://127.0.0.1:8000/extension/';
    const tableName = 'cultural-event/';
    export default {
        name: "activities",
        components: {HeaderComponent, BasicForm},
        data(){
            return{
                snackbar: {
                    show: false,
                    color: 'success',
                    text: 'Texto'
                },
                basicForm: false,
                breadcrumbsItems: [
                    {
                        text: 'Inicio',
                        disabled: false,
                        href: '/'
                    },
                    {
                        text: 'Extensión',
                        disabled: true,
                        href: '/extension/'
                    },
                    {
                        text: 'Evento cultural',
                        disabled: true,
                        href: '/extension/cultural-event/'
                    }
                ],
                headers: [
                    { text:'Codigo', value: 'code'},
                    { text:'Nombre', value: 'name'},
                    { text:'Descripción', value: 'description'},
                    { text:'Año de inicio', value: 'start_year'},
                    { text:'Semestre de inicio', value: 'start_semester'},
                    { text:'Fecha inicio', value: 'start_date'},
                    { text:'Fecha fin', value: 'end_date'},
                    { text:'Acciones'},
                ],
                continuingEducationItems: [],
                loadingItems: false
            }
        },
        methods: {
            go_to(url) {
                window.location.href=url;
            },
            load(){
                this.loadingItems=true;
                axios({
                    method: 'get',
                    url: api+tableName,
                })
                .then(response => {
                    if(response.status == 200){
                        this.continuingEducationItems = response.data;
                    }
                })
                .catch(error => {
                    alert('Error en el servidor.')
                })
                .finally(() => {
                    this.loadingItems=false;
                });
            },
            prepareCreate(){
                this.$refs.basicForm.prepareCreate({start_semester: 1});
                this.basicForm = true;
            },
            prepareUpdate(item){
                this.$refs.basicForm.prepareUpdate(Object.assign({}, item));
                this.basicForm = true;
            },
            postCreate(){
                this.basicForm = false;
                this.showSnackBar('Evento Creado', 'success');
                this.load();
            },
            postEdit(){
                this.basicForm = false;
                this.showSnackBar('Evento Editado', 'success');
                this.load();
            },
            deleteItem(item) {
                const index = this.continuingEducationItems.indexOf(item)
                if(!confirm('¿Está seguro que desea borrar el evento?')){
                    return false;
                }
                axios({
                    method: 'delete',
                    url: api+tableName+item.id,
                })
                .then(response => {
                    if(response.status == 204){
                        this.continuingEducationItems.splice(index, 1);
                    }
                })
                .catch(error => {
                    alert('Error en el servidor.')
                })
                .finally(() => {
                    this.loadingItems=false;
                });

            },
            showSnackBar(text, color){
                this.snackbar = {
                    show: true,
                    text: text,
                    color: color
                }
            },
            displayDate(date){
                if(date){
                    date = moment(date);
                    moment.locale('es');
                    date.locale(false);
                    return date.format('MMMM D YYYY');
                }
            }
        },
        mounted() {
            this.load();
        }
    }
</script>

<style scoped>

</style>