<template lang="html">
    <v-app>
        <login/>
    </v-app>
</template>
<script>
    import axios from 'axios';
    import Login from "../components/login";
    export default {
        name: 'index',
        components: {Login}
    }
</script>
<style scoped>

</style>