<template>
    <v-app>
        <!--        estatico        -->
        <HeaderComponent process="profile" subprocess=""/>
        <!--        Contenido         -->
        <v-content>
            <v-container>
                <v-layout>
                    <v-flex md12>
                        <v-card class="elevation-4" >
                            <v-card-text>
                                <div class="display-1 text-xs-center">Bienvenido al app sin nombre</div>
                            </v-card-text>
                            <v-container>
                                <v-layout wrap justify-center>
                                    <v-flex xs12 md4>
                                        <v-container fluid>
                                            <v-layout wrap>
                                                <v-flex xs12 md12>
                                                    <v-list subheader>
                                                        <v-subheader>Datos personales</v-subheader>

                                                        <v-list-tile
                                                                v-for="item in items"
                                                                :key="item.title"
                                                                avatar
                                                                @click=""
                                                        >
                                                            <v-list-tile-content>
                                                                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                                                                <v-list-tile-sub-title>{{ item.subtitle }}</v-list-tile-sub-title>
                                                            </v-list-tile-content>
                                                        </v-list-tile>
                                                    </v-list>
                                                </v-flex>
                                            </v-layout>
                                        </v-container>
                                    </v-flex>
                                    <v-flex xs12 md4>
                                        <v-container fluid>
                                            <v-layout wrap>
                                                <v-flex xs12 md12>
                                                    <v-list two-line subheader>
                                                        <v-subheader>¿Que puedes hacer?</v-subheader>
                                                        <v-list-tile
                                                                v-for="item in permisos"
                                                                :key="item.title"
                                                                avatar
                                                                @click=""
                                                        >
                                                            <v-list-tile-content>
                                                                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                                                                <v-list-tile-sub-title>{{ item.subtitle1 }}</v-list-tile-sub-title>
                                                                <v-list-tile-sub-title>{{ item.subtitle2 }}</v-list-tile-sub-title>
                                                            </v-list-tile-content>
                                                        </v-list-tile>
                                                    </v-list>
                                                </v-flex>
                                            </v-layout>
                                        </v-container>
                                    </v-flex>
                                    <v-flex xs12 md4>
                                        <v-container>
                                            <img src="../assets/img/user.png" alt="" style="max-width: 100%" class="">
                                        </v-container>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import HeaderComponent from "../components/header";
    import MenuComponent from "../components/menu";
    export default {
        name: "profile",
        components: {HeaderComponent, MenuComponent},
        data () {
            return {
                items: [
                    { title: 'Nombre', subtitle: 'Denis Eduardo' },
                    { title: 'Apellidos', subtitle: 'Isidro Gonzalez' },
                    { title: 'Usuario', subtitle: 'disidro' },
                    { title: 'Rol', subtitle: 'Director bienestar' }
                ],
                permisos: [
                    { title: 'Extensión', subtitle1: 'Agregar', subtitle2: 'listar'},
                    { title: 'Investigación', subtitle1: 'Agregar', subtitle2: 'listar'},
                    { title: 'Bienestar', subtitle1: 'Agregar', subtitle2: 'listar'},
                ]
            }
        },
    }
</script>

<style scoped>

</style>